:root{
    --white:#FFF;
    color:#FFF;
    --full_heigth:100vh;
}


#about_cont{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}


.half_one{
    position: relative;
    border-top-left-radius: 0.5%;
    border-top-right-radius: 0.5%;
    background-color: rgba(0, 0, 0, 0.9);
}
.half_two{
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
#desc{
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    padding: 1rem;
    margin: 1rem;
    background-image: url('https://i.pinimg.com/originals/7a/c0/fe/7ac0fe208e49b6b5519a210b07216a10.jpg');
    background-size: cover;
}
.desc-first-half{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    gap: 1rem;

}
.desc-first-half h2{
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: 1000;
	font-size: 75px;
    color:white;
}
.desc-first-half  p{
    line-height: 2rem;
    font-size: 70%;
    width: 100%;
    line-height: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.intro{
    padding: 1rem;
}
.intro h1{
    font-size: 150%;
    font-weight: 700;
}
.name{
    background: linear-gradient(to right,rgb(104, 247, 183), rgb(148, 202, 12));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
}
.intro p{
    font-size: 100%;
}
.expertise{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    height: 200px;

}
.expertise h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 300px;
    height: 150px;
    padding: 1rem;
    gap: 0.5rem;
    background-color: rgb(12, 12, 12);
}
.logo_cont{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
}
.skills{
    display: flex;
    
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: 1000;
	font-size: 75px;
    color:white;
}

.skill-desc{
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    .skill-info{
        padding:1rem;
        border-radius: 10px;
        box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.1);

    }
    
}


.robot{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    margin-top: 5%;
    width: 300px;
}
.robot-image{
    width: 200px;
    height: 200px;
}


@media(max-width: 992px){


}
@media (max-width: 576px) {
    #desc{
        flex-direction: column;
        
    }
    #desc h2{
        font-size: 30px;
    }
    .desc-first-half{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .intro{
        text-align: center;
    }
    .logo_cont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .expertise{
        font-size: 90%;
    }
    .expertise h3{
        width: fit-content;
        font-size: 80%;

    }

    .robot-image{
        height: 150px;
        width: 150px;
    }

}