:root{
    --white:#FFF;
    color:#FFF;
    --full_heigth:100vh;
}


#home_cont{
    height: var(--full_heigth);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}


.half_one{
    position: relative;
    border-radius: 0.5%;
    background-color: rgba(0, 0, 0, 0.9);
}
.half_two{
    position: relative;
    background-image: url('https://i.pinimg.com/originals/1e/29/0f/1e290f9ef1c82e282f15adc2e67b2063.jpg');
    background-size: cover;
    border-radius: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

#desc{
    height: -webkit-fill-available;
    padding: 1rem;
    margin: 1rem;
    background-image: url('https://i.pinimg.com/originals/7a/c0/fe/7ac0fe208e49b6b5519a210b07216a10.jpg');
    background-size: cover;
}
#desc h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
	font-size: 100%;
    color:white;
    letter-spacing: 2px;
    padding: 20px;

}
#desc h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    line-height: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#desc p{
    line-height: 2rem;
    font-size: 70%;
    width: 100%;
    line-height: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
}


.prof_image_cont{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40333px;
    width:150px;
    height:150px;
    overflow: hidden;
}


