
.contactMainCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: url("../../../public/contactBackground.jpg");
    background-size: cover;
}
.contactMainCont h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}
.contactMainCont h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.contactInfoMainCont{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
}
.infoContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.infoDetailsCont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(3, 37, 118, 0.3);
    
}

.contactContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.contactContainer form input{
    height: 40px;
    padding: 10px;
    color: black;
}
.contactContainer form textarea{
    padding: 1rem;
    color: black;
}
.contactContainer form button{
    padding: 1rem;
    border-radius: 10px;
    font-weight: 800;
    background-color: rgb(8, 180, 228);
}

.logo_cont{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
@media (max-width: 1093px){
    .infoContainer{
        align-items: center;
    }
}
@media (max-width: 576px) {
    .logo_cont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}