:root{
    --white:#FFF;
    color:#FFF;
    --full_heigth:100vh;
}
#home_cont{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 2rem;
    height: fit-content;
    width: 100%;
    background-image: url('../../../public/homeContainerBackround.jpg');
    background-size: cover;

}
.descriptions{
    display: flex;
    position: absolute;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

    
}
.vert{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: 600;

}
.descriptions h1{
    
    font-weight: 600;
    font-size: 300%;
}
.dev_text {
    background: linear-gradient(to right,rgb(104, 247, 183), rgb(10, 41, 95));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
  }
.UX_text{
    background: linear-gradient(to right, rgb(10, 41, 95), rgb(104, 247, 183));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
}
.web_text{
    background: linear-gradient(to right,rgb(176, 36, 166), rgb(25, 2, 52));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
}
.image_cont_prof{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    margin-top: 5%;
    width: 100%;

}

.image{
    height: var(--full_heigth);
    width: auto;
    border-radius: 99999px;
    
}

.continue_button{

    background-color: rgb(215, 185, 9);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    font-weight: 700;
    font-size: 100%;
}

@media(max-width: 992px){
    
    .descriptions h1{
        font-weight: 700;
        font-size: 200%;
    }
    .vert{
        font-size: 100%;
    }
    .image{
        height: 624px;
        width: 465px;
    }
}
@media (max-width: 576px) {

    .descriptions h1{
        font-weight: 700;
        font-size: 120%;
    }
    .vert{
        font-size: 70%;
    }
    .image{
        height: 80%;
    }

}