:root{
    --white:#FFF;
    color:#FFF;
    --full_heigth:100vh;
}
#home_cont{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 2rem;
    height: fit-content;
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/fe/a0/fa/fea0faa48d36f891d9a22f6c6d1dd436.jpg');
    background-size: cover;

}
.descriptions{
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

    
}
.vert{
    font-size: 150%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: 600;

}
.descriptions h1{
    
    font-weight: 600;
    font-size: 300%;
}
.dev_text {
    background: linear-gradient(to right,rgb(104, 247, 183), rgb(10, 41, 95));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
  }
.UX_text{
    background: linear-gradient(to right, rgb(10, 41, 95), rgb(104, 247, 183));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
}
.web_text{
    background: linear-gradient(to right,rgb(176, 36, 166), rgb(25, 2, 52));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: transparent;
}
.image_cont_prof{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    margin-top: 5%;
    width: 100%;

}

.image{
    height: var(--full_heigth);
    width: auto;
    border-radius: 99999px;
}

/* .continue_button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #fcff5a 0, #ffa454 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(66, 37, 35, 0.3) 0 7px 13px -3px,rgba(111, 75, 58, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.continue_button:focus {
  box-shadow: #ffa454 0 0 0 1.5px inset, rgba(66, 37, 35, 0.3) 0 2px 4px, rgba(111, 75, 58, 0.5) 0 7px 13px -3px, #ffa454 0 -3px 0 inset;
}

.continue_button:hover {
  box-shadow: rgba(66, 37, 35, 0.3) 0 4px 8px, rgba(111, 75, 58, 0.5) 0 7px 13px -3px, #ffa454 0 -3px 0 inset;
  transform: translateY(-2px);
}

.continue_button:active {
  box-shadow: #ffa454 0 3px 7px inset;
  transform: translateY(2px);
} */

@media(max-width: 992px){
    
    .descriptions h1{
        font-weight: 700;
        font-size: 200%;
    }
    .vert{
        font-size: 100%;
    }
    .image{
        height: 624px;
        width: 465px;
    }
}
@media (max-width: 576px) {

    .descriptions h1{
        font-weight: 700;
        font-size: 100%;
    }

    .image{
        height: 80%;
    }

}