.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}
.brand{
    color: white;
    font-weight: 500;
	font-size: 20px;
    padding-right: 1rem;

}
.nav_cont{
    position:absolute;
    padding: 0.5rem 0.5rem; 
    z-index: 100;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav_items{
    display: flex;
    justify-content: space-between;
}

.nav_item:hover{
    color: white;
    cursor: pointer;
    box-sizing: content-box;
}
.nav_item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d3d3  ;
    border-radius: 10px;
    margin: 10px;
    padding: 1rem;
	font-weight: 500;
	font-size: 12px;
}
#contact{
    padding: 0.3rem;
    border: 3px solid;
    border-radius: 0px;
    border-color: #d3d3d3 ;
}
.dropdown_menu{
    display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
    height: 0px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.9);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height .2s cubic-beziser(0.175, 0.885,0.32,1.275);
    z-index: 100;
}
.dropdown_menu.open{
	height: 400px;
}
.dropdown_menu .nav_items{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

}
.dropdown_menu li:hover{
    color: white;
    
}
.dropdown_menu li{
    padding: 10px;
    color: #d3d3d3 ;
    cursor: pointer;
}
.dropdown_menu #contact_dropdown{
    padding: 1rem;
    border: 3px solid;
    border-radius: 0px;
    border-color: #d3d3d3 ;
}
.ham_button{
    color: white;
    font-size: 1.5rem;
	cursor:pointer;
	display: none;
    padding: .5rem .5rem;
    border-radius: 20px;
	margin: 20px 20px;
	font-weight: 500;
	font-size: 30px;
}

@media(max-width: 992px){
    .nav_items{
        display: none;
    }
    .dropdown_menu{
        display: block;
    }
    .ham_button{
        display: block;
    }
}
@media (max-width: 576px) {
    .dropdown_menu{
		left: 2rem;
		width: unset;
	}
}